<!-- chat.templates -->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Chat</title>-->
<!--    <style>-->
<!--        .chatbox {-->
<!--            height: 300px;-->
<!--            overflow-y: scroll;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome {{ session['username'] }}</h1>-->
<!--    <div class="chatbox" id="chatbox">-->
<!--        &lt;!&ndash; Chat history will be dynamically loaded here &ndash;&gt;-->
<!--    </div>-->
<!--    <form onsubmit="sendMessage(); return false;">-->
<!--        <input type="text" id="user_input" placeholder="Type your message...">-->
<!--        <button type="submit">Send</button>-->
<!--    </form>-->
<!--    <script>-->
<!--        function sendMessage() {-->
<!--            // JavaScript function to send message to Flask backend-->
<!--        }-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta-BCI Emotion</title>
</head>
<body>
    <iframe src="http://localhost:3010" width="100%" height="800"></iframe>
</body>
</html>